:root {
    --titleBgColor: #0e1931;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

/*Title Section*/
.titleBG {
    background-color: var(--titleBgColor);
}

.titleNavBg {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--titleBgColor);
    margin-bottom: 2%;
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.titleNavBtn {
    font-size: 1.7vw;
    background-color: transparent;
    border-style: hidden;
    color: #A7B2D6;
    width: 20%;
    height: 20%;
    transition: font-size 0.3s ease;
    text-align: center;

}

.titleNavBtn:hover {
    font-size: 2.2vw;
    color: white;
}

.titleMain {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #FBBF24;
    margin-bottom: 5%;
}

.titleText {
    width: 40%;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
}

.titleMainName {
    font-size: 4vw;
}

.titleMainUni {
    color: #FBBF24;
    font-size: 2.5vw;
    transition: font-size 0.3s ease;
}

.titleMainUni:hover {
    color: red;
    font-size: 3.5vw;
}

.titleMainCourse {
    color: #FBBF24;
    font-size: 2.5vw;
    transition: font-size 0.3s ease;
}

.titleMainCourse:hover {
    color: red;
    font-size: 3.5vw;
}

.titleImg {
    width: 20%;
    border-style: solid;
    border-width: 0.1vw;
    border-color: white;
    border-radius: 100vw;
}

.slideIn {
    opacity: 0;
    transform: translateX(100px);
    animation: slideIn 3s forwards;

}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.linkedinImg {
    width: 5%;
    transition: width 0.3s ease;
    margin-left: 5%;
    margin-bottom: 3%;

}

.linkedinImg:hover {
    width: 7%;
}

/* Description Section (About Me) */

.descSectionBg {
    background-color: #2f6381;
    margin: auto;
    max-width: 1200px;
}

.descSectionTitle {
    padding-top: 3vw;
    font-size: min(4vw, 48px);
    text-align: center;
    color: white;
    margin-bottom: 3vw;
    font-weight: 700;
}

.descSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 4vw;
}

.descSectionImg {
    text-align: center;
    width: 30vw;
    height: 30vw;
    max-width: 360px;
    max-height: 360px;
    object-fit: cover;
    border-style: solid;
    border-width: 0.1vw;
    border-color: white;
    border-radius: 10vw;
}

.descSectionText {
    width: 55%;
    font-size: min(2vw, 24px);
    color: white;
    text-align: center;
    border-style: solid;
    border-color: transparent;
    border-radius: 1vw;;
    background-color: #1a2431;
    padding: 1%;
}

/* Experience Section (My Experience)*/
.experienceBg {
    background-color: #2f6381;
    margin: auto;
    max-width: 1200px;
    
}

.experienceTitle {
    padding-top: 3vw;
    font-size: min(4vw, 48px);
    text-align: center;
    color: white;
    margin-bottom: 3vw;
    font-weight: 700;
}

.experienceSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 4vw;
}

.experienceList {
    width: 30%;
    font-size: min(2vw, 24px);
    color: white;
    border-style: solid;
    border-color: transparent;
    border-width: 0.1vw;
    border-radius: 1vw;
    padding: 2%;
    background-color: #1a2431;
    text-align: center;
}

.experienceText {
    width: 55%;
    padding: 1%;
    font-size: min(2vw, 24px);
    color: white;
    text-align: center;
    border-style: solid;
    border-color: transparent;
    background-color:#1a2431;
    border-radius: 1vw;
}
/* Why Uni?  */
.whyUniBg {
    background-color: #2f6381;
    margin: auto;
    max-width: 1200px;
    padding-bottom: 4vw;
}

.whyUniTitle {
    padding-top: 3vw;
    font-size: min(4vw, 48px);
    text-align: center;
    color: white;
    margin-bottom: 3vw;
    font-weight: 700;
    margin-right: 25%;
    margin-left: 25%;
}

.whyUniTextBg {
    font-size: min(2vw, 24px);
    color: white;
    border-style: solid;
    border-color: transparent;
    background-color:#1a2431;
    border-radius: 1vw;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.footerBg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vw;
    background-color: var(--titleBgColor);
    height: min(10vw, 150px);
}

.footerBtn {
    background-color: #FBBF24;
    color: black;
    width: 10%;
    height: min(4vw, 100px);
    border-radius: 1vw;
    margin-left: 5vw;
    font-size: min(1.5vw, 24px);
    font-weight: 700;
}

.footerText {
    font-size: min(2vw, 24px);
    color: white;
    width: min(30%, 240px);
    margin-right: 5vw;
}


/* Seciton for running python files
.programsBg {
    background-color: #2f6381;
    margin: auto;
    max-width: 1200px;
}

.programsTitle {
    padding-top: 3vw;
    font-size: min(4vw, 48px);
    text-align: center;
    color: white;
    margin-bottom: 2vw;
    font-weight: 700;
}

.programsDesc {
    font-size: min(2vw, 24px);
    text-align: center;
    color: white;
    margin-bottom: 5vw;
}

.programsDiffTitles {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
}

.programsSectionTitles {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.programsTop {
    color: white;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    width: 20%;
    text-align: center;
    font-weight: 700;
}

.programsSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.programsInput {
    width: 20%;
    text-align: center;
}

.programsSubmitBtn {
    width: 20%;
    text-align: center;
}

.programsOutput {
    color: white;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    width: 20%;
    text-align: center;
}
*/


/* Settings for smaller screens like mobile devices */

@media (max-width: 768px) {
    /*Title Section*/

    .titleNavBg {
        justify-content: space-between;
    }

    .titleNavBtn {
        font-size: 3vw;
    }

    .titleNavBtn:hover {
        font-size: 3vw;
    }

    .titleMain {
        flex-direction: column-reverse;
        text-align: center;
    }

    .titleText {
        width: auto;
    }

    .titleMainName {
        font-size: 6vw;
    }

    .titleMainUni {
        font-size: 4.5vw;
    }

    .titleMainUni:hover {
        font-size: 4.5vw;
    }

    .titleMainCourse {
        font-size: 4.5vw;
    }

    .titleMainCourse:hover {
        font-size: 4.5vw;
    }

    .titleImg {
        width: 40%;
    }

    .linkedinImg {
        width: 10%;
    }

    .linkedinImg:hover {
        width: 10%;
    }

    .descSectionTitle {
        font-size: 6vw;
    }

    .descSection {
        flex-direction: column-reverse;
    }

    .descSectionImg {
        width: 65vw;
        height: 50vw;
    }

    .descSectionText {
        margin: 5vw;
        width: 90%;
        font-size: 3.5vw;
    }

    .experienceBg {
        justify-content: space-between;
    }

    .experienceTitle {
        font-size: 6vw;
    }

    .experienceSection {
        flex-direction: column-reverse;
    }

    .experienceList {
        width: 80%;
        font-size: 3.5vw;
        margin-bottom: 5vw;
    }

    .experienceText {
        width: 90%;
        font-size: 3.5vw;
    }

    .whyUniBg {
    background-color: #2f6381;
    margin: auto;
    max-width: 1200px;
    }

    .whyUniTitle {
        font-size: 6vw;
        margin-right: 10%;
        margin-left: 10%;
    }

    .whyUniTextBg {
        font-size: 3.5vw;
        margin-left: 5%;
        margin-right: 5%;
    }

    .footerBg {
        justify-content: space-evenly;
    }

    .footerBtn {
        width: 20%;
        height: 4vw;
        font-size: 2vw;
    }

    .footerText {
        font-size: 2vw;
        width: 40%;
    }
}
