:root {
    --titleBgColor: #0e1931;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

/*Title Section*/
.titleBG {
    background-color: var(--titleBgColor);
}

.titleNavBg {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--titleBgColor);
    margin-bottom: 2%;
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.titleNavBtn {
    font-size: 1vw;
    background-color: transparent;
    border-style: hidden;
    color: #A7B2D6;
    width: 20%;
    height: 20%;
    transition: font-size 0.3s ease;
    text-align: center;

}

.titleNavBtn:hover {
    font-size: 2vw;
    color: white;
}

.titleMain {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #FBBF24;
    margin-bottom: 5%;
}

.titleMainName {
    font-size: 4vw
}

.titleMainUni {
    color: #FBBF24;
    font-size: 2.5vw;
    transition: font-size 0.3s ease;
}

.titleMainUni:hover {
    color: red;
    font-size: 3.5vw;
}

.titleMainCourse {
    color: #FBBF24;
    font-size: 2.5vw;
    transition: font-size 0.3s ease;
}

.titleMainCourse:hover {
    color: red;
    font-size: 3.5vw;
}

.titleImg {
    width: 20%;
    border-style: solid;
    border-width: 0.1vw;
    border-color: white;
    border-radius: 100vw;
}

.linkedinImg {
    width: 5%;
    transition: width 0.3s ease;
    margin-left: 5%;
    margin-bottom: 3%;

}

.linkedinImg:hover {
    width: 7%;
}

/* Description Section (About Me) */

.descSectionBg {
    background-color: #2f6381;
    margin: auto;
    max-width: 1200px;
}

.descSectionTitle {
    padding-top: 3vw;
    font-size: min(4vw, 48px);
    text-align: center;
    color: white;
    margin-bottom: 3vw;
    font-weight: 700;
}

.descSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 4vw;
}

.descSectionImg {
    text-align: center;
    width: 30vw;
    height: 30vw;
    max-width: 360px;
    max-height: 360px;
    object-fit: cover;
    border-style: solid;
    border-width: 0.1vw;
    border-color: white;
    border-radius: 10vw;
}

.descSectionText {
    width: 55%;
    font-size: min(2vw, 24px);
    color: white;
    text-align: center;
    border-style: solid;
    border-color: transparent;
    border-radius: 1vw;;
    background-color: #1a2431;
    padding: 1%;
}

/* Experience Section (My Experience)*/
.experienceBg {
    background-color: #2f6381;
    margin: auto;
    max-width: 1200px;
    
}

.experienceTitle {
    padding-top: 3vw;
    font-size: min(4vw, 48px);
    text-align: center;
    color: white;
    margin-bottom: 3vw;
    font-weight: 700;
}

.experienceSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 4vw;
}

.experienceList {
    width: 30%;
    font-size: min(2vw, 24px);
    color: white;
    border-style: solid;
    border-color: transparent;
    border-width: 0.1vw;
    border-radius: 1vw;
    padding: 2%;
    background-color: #1a2431;
    text-align: center;
}

.experienceText {
    width: 55%;
    padding: 1%;
    font-size: min(2vw, 24px);
    color: white;
    text-align: center;
    border-style: solid;
    border-color: transparent;
    background-color:#1a2431;
    border-radius: 1vw;
}


/* Settings for smaller screens like mobile devices */

@media (max-width: 768px) {
    /*Title Section*/

    .titleNavBg {
        justify-content: space-between;
    }

    .titleNavBtn {
        font-size: 3vw;
    }

    .titleNavBtn:hover {
        font-size: 3vw;
    }

    .titleMain {
        flex-direction: column-reverse;
        text-align: center;
    }
    .titleMainName {
        font-size: 6vw;
    }

    .titleMainUni {
        font-size: 4.5vw;
    }

    .titleMainUni:hover {
        font-size: 4.5vw;
    }

    .titleMainCourse {
        font-size: 4.5vw;
    }

    .titleMainCourse:hover {
        font-size: 4.5vw;
    }

    .titleImg {
        width: 40%;
    }

    .linkedinImg {
        width: 15%;
    }

    .linkedinImg:hover {
        width: 15%;
    }

    .descSectionTitle {
        font-size: 6vw;
    }

    .descSection {
        flex-direction: column-reverse;
    }

    .descSectionImg {
        width: 65vw;
    }

    .descSectionText {
        margin: 5vw;
        width: 90%;
        font-size: 3.5vw;
    }

    .experienceBg {
        justify-content: space-between;
    }

    .experienceTitle {
        font-size: 6vw;
    }

    .experienceSection {
        flex-direction: column-reverse;
    }

    .experienceList {
        width: 80%;
        font-size: 3.5vw;
        margin-bottom: 5vw;
    }

    .experienceText {
        width: 90%;
        font-size: 3.5vw;
    }
}